name: Optional Review Deployment
on:
  pull_request:
    types:
      - labeled
      - unlabeled
      - synchronize

env:
  KUBE_DOMAIN: k8s-cluster01.appulate.dev
  
jobs:

  optional_converge_or_dismiss:
    name: Optional Converge or Dismiss
    runs-on: ubuntu-latest
    steps:

      - name: Checkout code
        uses: actions/checkout@v2
        with:
          fetch-depth: 0
      
      - name: Define environment url
        run: |
          pr_id=${{ github.event.number }}
          github_repository_id=$(echo ${GITHUB_REPOSITORY} | sed -r s/[^a-zA-Z0-9]+/-/g | sed -r s/^-+\|-+$//g | tr A-Z a-z)
          kube_domain=${{ env.KUBE_DOMAIN }}
          echo WERF_SET_ENV_URL=global.env_url=${github_repository_id}-${pr_id}.${kube_domain} >> $GITHUB_ENV
        if: contains( github.event.pull_request.labels.*.name, 'review' )
  
      - name: Install werf CLI  
        uses: werf/actions/install@v1.2
        with:
          channel: ea  
        if: contains( github.event.pull_request.labels.*.name, 'review' )
      
      - name: Run werf
        run: |
          source $(werf ci-env github --as-file)
          werf helm secret file decrypt .helm/secret/docker.config.json > "$DOCKER_CONFIG/config.json"
          werf helm repo add bitnami https://charts.bitnami.com/bitnami
          werf helm dependency update .helm
          werf render
          werf converge
        env:
          WERF_ENV: review-${{ github.event.number }}
          WERF_REPO: ghcr.io/${{ github.repository }}
          WERF_SECRET_KEY: ${{ secrets.WERF_SECRET_KEY }}
          WERF_KUBE_CONFIG_BASE64: ${{ secrets.KUBE_CONFIG_BASE64_DATA }}          
          WERF_SET_ASPNETCORE_ENVIRONMENT: "global.aspnetcore_env=Staging"
          WERF_LOG_VERBOSE: "on"
        if: contains( github.event.pull_request.labels.*.name, 'review' )

      - name: 'Comment PR'
        uses: actions/github-script@v3
        if: contains( github.event.pull_request.labels.*.name, 'review' )
        with:
          github-token: ${{ secrets.GITHUB_TOKEN }}
          script: |
            var url=process.env.WERF_SET_ENV_URL.split('=')[1];
            github.issues.createComment({
              issue_number: context.issue.number,
              owner: context.repo.owner,
              repo: context.repo.repo,
              body: `Review env: https://${url}`
            });
        
      
      - name: Dismiss
        uses: werf/actions/dismiss@v1.2
        with:
          env: review-${{ github.event.number }}
          kube-config-base64-data: ${{ secrets.KUBE_CONFIG_BASE64_DATA }}
        if: "!contains( github.event.pull_request.labels.*.name, 'review' )"
